body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  background-color: #fff;
  padding: 50px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 380px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #EB4746;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.form-group2 {
  margin-bottom: 20px;
}

.form-group2 label {
  display: block;
  margin-bottom: 5px;
}

.form-group2 input {
  width: 380px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group2 button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #616161;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.form-group button:hover {
  background-color: #616161;
}
